

.main > section:nth-child(odd){
    background: rgb(202, 228, 236);
}

/* #display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .2em;
}
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .2em;
} */