* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
/* question: how to make stick to top */
header{
    padding: .1em 0;
    background-color: rgba(245, 246, 222, 0.733); 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

/* Icons and nav */
.icons{
    text-align: left;
}

.icon1 img{
    width: 35px;
}

ul li{
    list-style: none;
}

.icons li, .menu li{
    display: inline-block;
    padding: 0 .2em;
}

.navbar{
    align-items: center;
}
.navbar .menu{
    display: none;
}

.navbar .hamburger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 2em;    
}

/* sections */
section{
    min-height: 15em;
    padding: 0;
}

.portfolio1 img{
    width: 25em;
    height: 30em;
}

/* Section A */
#section-a{
    background-color: rgba(230, 219, 13, 0.397);
    height: 100vh;
}

.a1{
    align-self: flex-start;
    animation-duration: 2s;
    animation-iteration-count: 1;
    height: 45em;
    margin: 0 auto;
    transform-origin: bottom;
}

.bounce{
    animation-name: bounce;
    animation-timing-function: cubicbezier(0.280,0.840, 0.420,1);
}
@keyframes bounce{
    0% {transform: scale(1,1) translate(0);
    }
    10%{transform: scale(1.1,.9) translate(0);
    }
    30%{transform: scale(.9,1.1) translate(0);
    }
    50%{transform: scale(1.05,.95) translate(0);
    }
    57%{transform: scale(1,1) translate(-7px);
    }
    64%{transform: scale(1,1) translate(0);
    }
    100%{transform: scale(1,1) translate(0);
    }
}

/* SECTION B */
#section-b{
    display: flex;
    justify-content: center; 
    background-color:rgba(99, 231, 238, 0.822);
    height: 100vh;
}
.content-wrap {
    display: flex;
    align-items: center;
    max-width: 60em;
    padding: 1em;
}

.content-wrap p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #F5F6DE;
    text-align: left;
    padding-top: 15%;
    padding-left: .2em;
} 

/* SECTION C */
#section-c{
    position: relative;
    z-index: 1;
    background-color:  rgba(241, 240, 238, 0.877);
    height: 100vh;
}
.portfolio-item{
    width: 90vw;

}

.sticky{
    position: sticky;
    top: 1.5em;
    opacity: 0.5;
    z-index: -1;
}

.heading{
    font-family: 'nunito sans', sans-serif;
    margin-top: 0;
    margin-bottom: 20px; 
    padding-bottom: 0;
    font-size: 5vw;
    color: #564303;
    font-weight: bold;
    display: flex;
    align-items: flex-start;  
}

.frame{
    position: relative;
    margin: auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 420px;
    height: 500px;
    border: 15px solid rgb(88, 63, 3);
    border-radius: .8em;
    box-shadow: 0 4px 4px 1px black;
}

/* Gray Scale */
.portfolio1{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.portfolio1:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
figure{
    margin: 0;
}
/* logos */

.logos{
    text-align: center;
    margin-top: .5em;
}
.logos li{
    display: inline-block;
    padding: .4em;
    width: 70px;
}


/* GitHub & Live Page Links */
.workItemLinks a{
    margin: 1em 0.5em; /* Seems like the margin top isn't */
    font-size: 1.2em;
}
a:link, a:visited{
    color: #616161;
}
a:hover{
    box-shadow: 0 0 11px black; 
}

a:link, a:visited, a:hover, a:active{
    font-weight: bold;
    text-decoration: none;
}

/* description paragraph */
#section-c p {
    margin-top: 0.5em;
    font-size: 2.1vh;
}



/* CONTACT IMAGE IS TOO BIX FIXXX */
/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Aleo', serif;*/