* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
/* question: how to make stick to top */
header{
    padding: .1em 0;
    background-color: rgba(245, 246, 222, 0.733); 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

/* Icons and nav */
.icons{
    text-align: left;
}

.icon1 img{
    width: 35px;
}

ul li{
    list-style: none;
}

.icons li, .menu li{
    display: inline-block;
    padding: 0 .2em;
}

.navbar{
    align-items: center;
}
.navbar .menu{
    display: none;
}

.navbar .hamburger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 2em;    
}

/* sections */
section{
    min-height: 15em;
    padding: 0;
}

.portfolio1 img{
    width: 25em;
    height: 30em;
}

/* Section A */
#section-a{
    background-color: rgba(230, 219, 13, 0.397);
}

.a1{
    align-self: flex-start;
    animation-duration: 2s;
    animation-iteration-count: 1;
    height: 20em;
    margin: 0 auto;
    transform-origin: bottom;
}

.bounce{
    animation-name: bounce;
    animation-timing-function: cubicbezier(0.280,0.840, 0.420,1);
}
@keyframes bounce{
    0% {transform: scale(1,1) translate(0);
    }
    10%{transform: scale(1.1,.9) translate(0);
    }
    30%{transform: scale(.9,1.1) translate(0);
    }
    50%{transform: scale(1.05,.95) translate(0);
    }
    57%{transform: scale(1,1) translate(-7px);
    }
    64%{transform: scale(1,1) translate(0);
    }
    100%{transform: scale(1,1) translate(0);
    }
}

/* SECTION B */
#section-b{
    display: flex;
    justify-content: center; 
    /* background-color: rgba(118, 222, 228, 0.719); */
}
.content-wrap {
    display: flex;
    align-items: center;
    max-width: 445px;
    padding: 1em;
}

.content-wrap p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: rgba(237, 240, 206, 0.884);
    text-align: left;
    padding-top: 9%;
    padding-left: .4em;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.952));
} 
#section-b .wave-img{
    position: absolute;
    background-image: url("images/white-waves2.png");
    background-position: center;    
    width: 200%;
    height: 400px;
    z-index: -1;
    opacity: 0.4;
   
}
#section-b .a2{
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.425));
}

/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Aleo', serif;*/