* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header{
    padding: .1em 0;
    background-color: rgba(245, 246, 222, 0.733);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

/* Icons and nav */
.icons{
    text-align: left;
}

.icon1 img{
    width: 35px;
}

ul li{
    list-style: none;
}

.icons li, .menu li{
    display: inline-block;
    padding: 0 .5em;
}


.navbar{
    align-items: center;
}
.navbar .menu{
    display: none;
}

.navbar .hamburger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 2em;
    margin-right: .5em;
    font-size: 2vh;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    font-size: 1.7vh;
    background-color: rgba(245, 246, 222, 0.644);
    color: #616161;
    /* z-index: 5;  */
  }

.navbar:hover .dropdown-content{
    display: inline-block;
    cursor: pointer;
}

/* **LINK STYLINGS** */
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    cursor: pointer;
    color: black;

}
.link:hover,.menu li:hover{
    filter: drop-shadow(0 0 3px black);
}

.dropdown-content li:hover{
    filter: drop-shadow(0 0 3px black);
}



/**** SECTIONS ****/
section{
    min-height: 15em;
    padding: 0;
    z-index: 2;
}

/* Section A */
#section-a{
    background-color: #eded44af;
    height: 100vh;
}

.a1{
    align-self: flex-start;
    animation-duration: 2s;
    animation-iteration-count: 1;
    height: 41em;
    margin: 0 auto;
    transform-origin: bottom;
}

.bounce{
    animation-name: bounce;
    animation-timing-function: cubicbezier(0.280,0.840, 0.420,1);
}
@keyframes bounce{
    0% {transform: scale(1,1) translate(0);
    }
    10%{transform: scale(1.1,.9) translate(0);
    }
    30%{transform: scale(.9,1.1) translate(0);
    }
    50%{transform: scale(1.05,.95) translate(0);
    }
    57%{transform: scale(1,1) translate(-7px);
    }
    64%{transform: scale(1,1) translate(0);
    }
    100%{transform: scale(1,1) translate(0);
    }
}

/* SECTION B */
#section-b{
    display: flex;
    justify-content: center;
    background-color:rgba(99, 231, 238, 0.664);
    height: 100vh;
}

.content-wrap {
    display: flex;
    align-items: center;
    max-width: 60em;
    padding: 1em;
}

.content-wrap h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: rgb(244, 245, 230);
    text-align: left;
    padding-top: 15%;
    padding-left: .2em;
}

/* SECTION C */
#section-c{
    position: relative;
    z-index: 1;
    background-color: rgba(72, 200, 239, 0.788);
    height: 100vh;
}
.portfolio1 img{
    width: auto;
    height: 25em;
}
.portfolio-item{
    width: 100%;
}

.sticky{
    position: sticky;
    top: 2.8em;
    opacity: 0.5;
    /* z-index: -1; */
}

.heading{
    font-family: 'nunito sans', sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: 5.5vw;  /* Q?? */
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.heading #work{
    color: #564303;
}

.frame{
    margin: 2.5em auto auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 23em;
    height: 26.4em;
    border: 15px solid rgb(88, 63, 3);
    border-radius: .8em;
    box-shadow: 0 4px 4px 1px rgb(34, 33, 33);
}

/* Gray Scale */
.portfolio1{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.portfolio1:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
figure{
    margin: 0;
}
/* logos */

.logos{
    text-align: center;
    margin-top: .5em;
}
.logos li{
    display: inline-block;
    padding: .4em;
    width: 70px;
}


/* GitHub & Live Page*/
.workItemLinks a{
    margin: 1em 0.5em;
    font-size: 1.2em;
}

/* description paragraph */
#section-c p {
    margin-top: 0.8em;
    font-size: 2.1vh;
    font-weight: 600;
}

/* SECTION D */
#section-d{
    position: relative;
    z-index: 1;
    background-color:#2a87ddda;
    height: 100vh;
}


#section-d .aboutJoy{
    font-size: 10vh;
    font-weight: bold;
    margin: .5em auto auto;
}

#section-d .aboutJoy img{
    padding: 0 .2em;
    width: 11vh;
    filter:drop-shadow(2px 4px 1px #0a024ef8);
}

.heading #about{
    color: black;
}

div .frosted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw; /* Q?? */
    margin: auto;
}

.frosted p{
    font-size: 2vh;
    text-align: left;
    margin-top: 3vh;
    /* background-color: rgba(208, 185, 218, 0.068); */
    padding: 5px 5px;
    box-shadow: 0 4px 4px 2px black;
    text-shadow: 0 1px rgb(94, 60, 3);
}

/* **FOOTER** */
footer{
    background-color: #010db1c4;
    height: 50vh;
}

#footer #contact{
    color:rgb(12, 12, 12);
}

div .talk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    margin: auto;
    font-size: 5vh;
    margin-bottom: .6em;
    color: #F5F6DE;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 10px;
    border-radius: 50px;
    letter-spacing: .1em;
}

.contact-items{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-items a{
    margin: 1em 1.1em;
}

/* Media Queries */

@media only screen and (max-width: 450px){ 
    div .talk{    
        width: 45vw;    
    } 
}

@media only screen and (min-width: 578px) {
    .navbar .hamburger{
        display: none;
    }
    .dropdown-content{
        display: none;
    }
    .navbar:hover .dropdown-content{
        display: none;
    }


    .navbar .menu{
        display: flex;
        font-size: 2.5vh;
        /* font-weight: bold; */
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        align-items: center;
        height: 30px;
    }
   .menu li{
       display: flex;
       margin: 0 .5em;
   }
   .sticky{
    top: 0;
    }
     .heading{
        padding-top: 35px;
    }
    .portfolio1 img{
        width: auto;
        height: 30em;
    }
    .frame{
        height: 31.4em;
        width: 27.9em;
    }
}

@media only screen and (min-width: 750px){
    div .frosted{
         width: 730px;
    }
}

